h1 {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    font-size: 0.1rem;
    color: red;
    transition: ease-in-out transform;
    transition-duration: 0.1s;
}
body{
    background: url("game.jpg");
}
h1:hover{
    transform: scale(50);
}
.title{
    color: green;
}
.container{
    display: flex;
    justify-content: center;
}
.clicker{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.saves-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.savebtn{
    margin-left: 10px;
    margin-right: 10px;
}
#title{
    color: blue;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
body > h1#title.title{
    color: magenta;
}
h1.title{
    color: yellow;
}
h1#title{
    color: purple;
}
h1#title.title{
    color: steelblue;
}